/*----------------------------
| FONTS & ICONS
-----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600');
@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css');

$font-stack-primary: 'Source Code Pro', monospace;

/*----------------------------
| COLORS
-----------------------------*/
$green: #45ca58;
$gray: #7b7c7e;
