@import 'variables';

.about-wrapper {
  background: #475B63;
  height: 100vh;
  overflow: auto;

  #main {
    width: 70%;
    padding: 4rem 4rem 4rem 0;
    color: #fff;
    margin: 0 auto;

    h1 {
      font-family: $font-stack-secondary;
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: .5rem;
    }

    h5 {
      margin-top: 2rem;
      margin-bottom: 0;
      font-family: $font-stack-secondary;
      font-size: 1.25rem;
      font-weight: 700;
    }

    p {
      margin-top: .25rem;
    }

    .line {
      margin: 0 0 15px 0;
      width: 5vw;
    }

    .btn {
      margin: 2rem 0;
    }

    ul.cols {
      display: grid;
      grid-template-columns: minmax(140px, 200px) minmax(140px, 200px);
      overflow: hidden;
      list-style: none;
      padding: 0;
      margin-left: 0;

      li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;

        &:before {
          content: "▹";
          position: absolute;
          left: 0px;
          color: $green;
          font-size: 14px;
          line-height: 25px;
        }
      }
    }
  }
}