@import 'variables';
@import 'mixins';
@import 'animations';

/*-----------------------------------------------------
|	Content - #main
-----------------------------------------------------*/
.home-wrapper {
  height: calc(100vh - 20px);
  display: flex;
  padding: 10px;
  background-color: $green;

  .container {
    background: white;
    border: 1px solid white;
    border-radius: 4px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .left {
      position: fixed;
      bottom: 10px;
      left: 10px;
      color: $green;

      &:after {
        content: "";
        display: block;
        width: 1px;
        height: 100vh;
        background-color: $green;
        margin: 0px auto;
        transition: height ease-in-out .5s;
      }
    }

    #main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;

      .col {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;

        &.content {
          position: relative;
          text-align: center;
          justify-content: center;
          align-items: center;

          .name {
            animation: float 6s ease-in-out infinite;
            position: relative;
            z-index: 0;

            h1 {
              font-family: $font-stack-secondary;
              font-size: 4em;
              font-weight: 400;
              color: #000;
              line-height: 1;
              margin: 0;
              @include animationDelay(.3s);
              @include animationDuration(1s);
            }

            h4 {
              color: $gray;
              font-family: $font-stack-primary;
              font-size: 2.25em;
              font-weight: 400;
              margin: 0;
              @include animationDelay(.75s);
              @include animationDuration(1.25s);
            }
          }

          .icon {
            position: absolute;
            z-index: 2;
            background: $green;
            color: white;
            width: 52px;
            height: 52px;
            border: 0;
            box-shadow: none;
            border-radius: 50%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6em;
            cursor: pointer;
            border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
            animation: 
              blobber 30s 0s linear infinite,
              cobler 30s 0s linear infinite alternate;

            &.linkedIn {
              left: 15%;
              bottom: 25%;
            }

            &.instagram {
              left: 50%;
              bottom: 5%;
            }

            &.paper-plane {
              font-size: 1.3em; 
              right: 15%;
              bottom: 35%;
            }
          }

          .text-block-wrapper {
            position: absolute;
            z-index: 99999;

            &.work-wrapper {
              right: 20%;
              top: 15%;

              .text-block {
                right: -29px;
                top: 22px;
              }
            }

            &.info-wrapper {
              left: 8%;
              top: 8%;

              .text-block {
                left: 23px;
                top: 25px;
              }
            }

            .text-block {
              display: none;
            }

            .close-icon {
              display: none;
            }

            &.show-text-block {

              .text-block {
                display: block;
                position: absolute;
                background: $green;
                color: white;
                border-radius: 4px;
                padding: 20px;
                width: 25vw;
                font-size: 16px;
                font-family: $font-stack-primary;
                box-shadow: 0 0 10px rgba(20, 20, 20, 0.3);
              }

              .text-block {
                width: 32vw;
                text-align: left;

                h4 {
                  margin-top: 0;
                }

                h2 {
                  font-family: $font-stack-secondary;
                  margin-bottom: 0;

                  & + p {
                    margin-top: 0;
                  }
                }

                a {
                  color: white;
                  text-decoration: underline;
                }

                .resume-block {
                  margin: 8px 0;

                  a {
                    display: inline-block;
                    margin-top: 8px;
                    color: #000;
                    cursor: pointer;
                    border: 1px solid #000;
                    border-radius: 4px;
                    padding: 0.8em 1.5em;
                    background: #fff;
                    transition: 0.2s;

                    &:hover {
                      color: #000;
                      transform: translate(-0.25rem, -0.25rem);
                      background: #fff;
                      box-shadow: 0.25rem 0.25rem #000;
                    }

                    &:focus:not(:active) {
                      box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
                    }

                    &:active {
                      transform: translate(0);
                      box-shadow: none;
                    }

                    span {
                      margin-right: 10px;
                      display: inline-block;
                    }
                  }
                }
              }
            }
          }
        }

        &.image {
          .main-image {
            background-color: gray;
            background-image: url('../images/main.jpeg');
            background-size: cover;
            background-position: center center;
            border-radius: 4px;
            height: 100%;
            margin: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            font-weight: 700;
            color: #000;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;

            &:hover {
              -webkit-filter: grayscale(0);
              filter: grayscale(0);
            }
          }
        }
      }
    }
  }
}

body.dark-mode {
  background: $green;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $green, #3ca94a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $green, #3ca94a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .home-wrapper {
    .container {
      background: #10171d;
      border-color: #333;

      #main .content h1 {
        color: #dfdfdf;
      }
    }
  }
}

/*-----------------------------------------------------
|	Media Queries 
-----------------------------------------------------*/
@media (max-width: 1070px) {
  .home-wrapper {
    .container {
      #main {
        .col {
          &.content {
            .text-block-wrapper.show-text-block {
              top: 0;
              right: 0;
              left: 0;
              bottom: 0;

              & ~ .text-block-wrapper {
                display: none;
              }

              .icon {
                z-index: 99999999999;
                top: 0;
                right: 0;
              }
              .text-block {
                width: calc(100vw - 40px);
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                z-index: 99;
                position: fixed;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 0;

                .close-icon {
                  display: block;
                  font-size: 22px;
                  position: absolute;
                  top: 10px;
                  right: 10px;
                  padding: 10px;
                }

                p {
                  font-size: 20px;
                }
              }
            }
          }

          &.image {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .home-wrapper {
    .container {
      #main {
        .col {
          &.content {
            .name {
              h1 {
                font-size: 3.3em;
              }
              h4 {
                font-size: 1.8em;
              }
            }
          }
        }
      }
    }
  }
}